
.vs/Crud_Operation/FileContentIndex/3402a83c-bad8-4fbd-b82d-221a894f3e12.vsidx
.vs/Crud_Operation/FileContentIndex/f278946d-3471-44fc-a3bd-1f1696a70e41.vsidx

.vs/Crud_Operation/FileContentIndex/015fd422-a201-4106-ad5b-816da5d63b2c.vsidx
.vs/Crud_Operation/FileContentIndex/1351ca84-2ef1-43ce-831f-021445c060ad.vsidx
.vs/Crud_Operation/FileContentIndex/6f44c629-cfd3-4dd8-989c-973906651ed4.vsidx
.vs/Crud_Operation/FileContentIndex/3bbee7cf-0371-4fe5-bab4-421de11fb93e.vsidx
.vs/Crud_Operation/FileContentIndex/879e6ada-b917-4510-8b8a-5b837612e9e3.vsidx
.vs/Crud_Operation/FileContentIndex/cae875b6-8b21-47ea-adb5-2ef469efdd42.vsidx
.vs/Crud_Operation/FileContentIndex/3402a83c-bad8-4fbd-b82d-221a894f3e12.vsidx
.vs/Crud_Operation/FileContentIndex/6a92ad07-48f7-47f2-9636-eb690a5b3b20.vsidx
.vs/Crud_Operation/FileContentIndex/8b9a0630-42d6-4903-a11a-1d2b2a135ede.vsidx
.vs/Crud_Operation/FileContentIndex/02f2810a-94e2-46c1-bcc2-dc336bf7dcf6.vsidx
.vs/Crud_Operation/FileContentIndex/43d762df-d5af-4c0d-9a5f-f9f32d07d646.vsidx
.vs/Crud_Operation/FileContentIndex/b416dd09-0728-4e77-83fa-b01f9900dd54.vsidx
.vs/Crud_Operation/FileContentIndex/eb4e9647-049f-4764-bf2c-3799f02405f0.vsidx
.vs/Crud_Operation/FileContentIndex/116c3a3a-d516-4421-b9b3-2bd6b8ae46df.vsidx
.vs/Crud_Operation/DesignTimeBuild/.dtbcache.v2
.vs/Crud_Operation/DesignTimeBuild/.dtbcache.v2
.vs/Crud_Operation/DesignTimeBuild/.dtbcache.v2
.vs/Crud_Operation/FileContentIndex/d30cbf9e-896c-48a8-8b44-86633283461c.vsidx
.vs/Crud_Operation/v17/.futdcache.v2
.vs/Crud_Operation/FileContentIndex/ea5b47db-2e29-4ebb-9194-f228ed333b9b.vsidx
.vs/Crud_Operation/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/crud_operation.projects.v7.bin
.vs/Crud_Operation/v17/DocumentLayout.json
.vs/Crud_Operation/v17/.suo
.vs/Crud_Operation/v17/TestStore/1/046.testlog
.vs/Crud_Operation/FileContentIndex/1ef980d8-e579-41b2-bd57-e168719964fa.vsidx
